<% include ../layout/header.ejs %>
<!-- Call to Action Panel -->
<div id="content" data-app="board">
    <table class="scrum-board">
        <thead>
            <tr>
                <th class="project">Project</th>
                <th>To Do</th>
                <th>In Progress</th> 
                <th>Verify</th>
                <th>Done</th> 
            </tr>
        </thead>
        <% if(projects.length > 0) { 
            for(var i in projects) { %> 
                <tr>
                    <td><%= projects[i].project_name %></td>
                    <td>
                        <% for(var n in tasks) { 
                            if(tasks[n].project_name === projects[i].project_name && tasks[n].status === "1") { %>
                                <div class="task-box">
                                    <%= tasks[n].task_name %><br/>
                                    <% for(var x = 0; x < tasks[n].delegates.length; x++) { %>
                                        <%= tasks[n].delegates[x] %>,
                                    <% } %>
                                </div>
                        <%  }
                        } %>
                    </td>
                    <td>
                        <% for(var n in tasks) { 
                            if(tasks[n].project_name === projects[i].project_name && tasks[n].status === "2") { %>
                                <div class="task-box">
                                    <%= tasks[n].task_name %><br/>
                                    <% for(var x = 0; x < tasks[n].delegates.length; x++) { %>
                                        <%= tasks[n].delegates[x] %>,
                                    <% } %>
                                </div>
                        <%  }
                        } %>
                    </td>
                    <td>
                        <% for(var n in tasks) { 
                            if(tasks[n].project_name === projects[i].project_name && tasks[n].status === "3") { %>
                                <div class="task-box">
                                    <%= tasks[n].task_name %><br/>
                                    <% for(var x = 0; x < tasks[n].delegates.length; x++) { %>
                                        <%= tasks[n].delegates[x] %>,
                                    <% } %>
                                </div>
                        <%  }
                        } %>
                    </td>
                    <td>
                        <% for(var n in tasks) { 
                            if(tasks[n].project_name === projects[i].project_name && tasks[n].status === "4") { %>
                                <div class="task-box">
                                    <%= tasks[n].task_name %><br/>
                                    <% for(var x = 0; x < tasks[n].delegates.length; x++) { %>
                                        <%= tasks[n].delegates[x] %>,
                                    <% } %>
                                </div>
                        <%  }
                        } %>
                    </td>
                </tr>
        <% 
            } 
        }%>
    </table>
</div>
<script src="/app/user/board.js"></script>
<% include ../layout/footer.ejs %>