<% include ../layout/header.ejs %>
<!-- Call to Action Panel -->
<div id="content" data-app="board">
    <div class="board actions">
        <button id="new_project">Add New Project</button>
        <button id="new_task">Add New Task</button>
    </div>
    <table class="scrum-board">
        <thead>
            <tr>
                <th class="project">Project</th>
                <th>To Do</th>
                <th>In Progress</th> 
                <th>Verify</th>
                <th>Done</th> 
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<% include modals.ejs %>
<script>
    var boardObject = {};
    <% for(var i in projects) { %> 
        var project_name = "<%= projects[i].project_name %>";
        boardObject[project_name] = {};
        boardObject[project_name].tasks = [];
    <% } %>
    <% for(var n in tasks) { %> 
        var project_name = "<%= tasks[n].project_name %>";
        var taskObj = {};
        taskObj.name = "<%= tasks[n].task_name %>";
        taskObj.status = "<%= tasks[n].status %>";
        taskObj.delegates = "<%= tasks[n].delegates %>";
        taskObj.notes = "<%= tasks[n].notes %>";
        taskObj.time_estimate = "<%= tasks[n].time_estimate %>";
        taskObj.priority = "<%= tasks[n].priority %>";

        boardObject[project_name].tasks.push(taskObj);
    <% } %>
    console.log(boardObject);
</script>
<script src="/app/user/board.js"></script>
<% include ../layout/footer.ejs %>