<div id="create_task" class="reveal-modal [expand, xlarge, large, medium, small]">
    <h2>Create A New Task</h2>
    <form class="project-creation" action="/create/project" method="post">
        <div class="row">
            <div class="four columns">
                <label class="right inline">Project Name:</label>
            </div>
            <div class="eight columns">
                <input type="text" name="project_name" class="eight project-name">
            </div>
        </div>
        <div class="actions row center">
            <input type="submit" class="success radius button create" value="Create Project"/>
        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>
<div id="create_project" class="reveal-modal [expand, xlarge, large, medium, small]">
    <form class="task-creation" action="/create/task" method="post">
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Project:</label>
            </div>
            <div class="ten mobile-three columns">
                <select class="eight project_select" name="project_name">
                    <% for(var i in projects) { %>
                        <option value="<%= projects[i].project_name%>"><%= projects[i].project_name%></option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Delegates:</label>
            </div>
            <div class="ten mobile-three columns">
                <select class="eight user_select" name="delegates" multiple>
                    <% if(users.length > 0) {%>
                        <% for(var i in users) { %>
                            <option value="<%= users[i].email%>"><%= users[i].firstname%> <%= users[i].lastname%> &#60; <%= users[i].email%> &#62;</option>
                        <% } %>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Task Name:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" name="task_name" placeholder="Describe the Task" class="eight name">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Time Estimate:</label>
            </div>
            <div class="ten mobile-three columns">
                <input type="text" name="time_estimate" class="eight time">
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Priority:</label>
            </div>
            <div class="ten mobile-three columns">
                <select class="eight status priority_select" name="priority">
                    <option value="1">Good to have</option>
                    <option value="2">Not Important</option>
                    <option value="3">Important</option>
                    <option value="4">Very Important</option>
                    <option value="5">Urgent</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Status:</label>
            </div>
            <div class="ten mobile-three columns">
                <select class="eight status status_select" name="status">
                    <option value="1">To-do</option>
                    <option value="2">In Progress</option>
                    <option value="3">Verify</option>
                    <option value="4">Done</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="two mobile-one columns">
                <label class="right inline">Notes:</label>
            </div>
            <div class="ten mobile-three columns">
                <textarea type="text" class="eight notes" name="notes"></textarea>
            </div>
        </div>
        <div class="actions row">
            <input type="submit" value="Create Task" class="success radius button create">
        </div>
    </form>
    <a class="close-reveal-modal">&#215;</a>
</div>